<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="algermo.honorsproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/firehat"
        android:label="We Lit"
        android:supportsRtl="true"
        android:theme="@style/HiddenTitleTheme">
        <activity android:name=".HomePage"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThreeByThreeGame"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.PARENT_ACTIVITY" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FourByFourGame"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.PARENT_ACTIVITY" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HowToPlay"
            android:parentActivityName=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.PARENT_ACTIVITY" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>